@model SalesApp.Models.Product

@{
    ViewData["Title"] = "Details";
}



<div class="">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Product Details</h4>
            </div>
        </div>
        <div class="card-box">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="product-view">
                        <div class="proimage-wrap">
                            <div class="pro-image" id="pro_popup">
                                <a href="#">
                                    <img class="img-fluid" src="~/Uploads/products/@(System.IO.Path.GetFileName(Model.ImageUrl))" alt="">
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12"> 
                    <div class="product-info">
                        <h2>@Model.Name</h2>
                        <p>Product ID: @Model.Id</p> 
                        
                        <p class="product_price">‎₦@Model.PurchasePrice</p>
                        <p><b>Availability:</b> In Stock</p>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg">
                                <i class="fa fa-shopping-cart"></i> Add to cart
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
